  /* TOP DESTINATIONS*/
  
  #top-destinations {
    text-align: center;
    padding: 80px 0px;
    position: relative;
    h1 {
      font-weight: 300;
      font-size: 40px;
      line-height: 48px;
      margin: 0px;
    }
    p {
      margin: 0px;
      padding: 20px 0px;
      color: #818696;
    }
    a {
      text-decoration: none;
      text-align: left;
    }
    .gallery {
      display: flex;
      justify-content: center;
    }
    img {
      max-width: 100%;
      display: block;
    }
    .gallery {
      .paris a span {
        position: absolute;
        bottom: 21%;
        left: 23%;
      }
      .italian-riviera a span {
        position: absolute;
        bottom: 21%;
        left: 38%;
      }
      .cinque-terre a span {
        position: absolute;
        bottom: 21%;
        left: 53%;
      }
      .santorini a span {
        position: absolute;
        bottom: 21%;
        left: 68%;
      }
      a:visited {
        color: white;
      }
    }
  }
  
  .paris, .italian-riviera, .cinque-terre, .santorini {
    flex: 0 0 15%;
    /* padding:10px; */
    margin: 10px;
  }
  
  /* OFFER */
  
  #offer {
    background: url('../images/last.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-column-gap: 20px;
    justify-content: center;
    position: relative;
    text-align: center;
  }
  
  .maldivi, .bali {
    background-color: #FF455C;
    opacity: 0.9;
    color: white;
    padding: 53px 80px 35px 90px;
  }
  
  #offer {
    h1 {
      text-transform: uppercase;
      font-weight: normal;
      margin: 0px;
      text-align: left;
    }
    h2 {
      text-align: left;
    }
    p {
      text-align: center;
    }
    img {
      position: absolute;
      top: -2%;
      left: 17%;
      max-width: 100%;
      height: 100px;
    }
    .maldivi > span, .bali > span {
      font-size: 160px;
      font-weight: normal;
    }
    .offer-btn {
      margin-top: 20px;
      display: inline-block;
      padding: 18px 45px;
      background: #131a2f;
      text-align: center;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  
  .media {
    background: url('../images/video.jpg');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .media-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    
  }
  
  .video {
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 50px;
    cursor: pointer;
    display: inline-block;
  }
  
  #popular-destinations {
    background-color: white;
    padding: 40px 0px;
    text-align: center;
  }
  
  .popular-destinations-gallery {
    padding: 40px 0px;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    /* grid-template-columns:repeat(4, 240px); */
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    /* grid-template-rows: repeat(2, auto); */
    grid-column-gap: 35px;
    img {
      max-width: 100%;
      /* height: auto; */
    }
  }
  
  #special-offers .gallery {
    width: 100%;
    display: flex;
    padding: 0px 5px;
    position: relative;
    > div {
      padding: 0px 3px;
    }
  }
  
  .arrows {
    /* border-color: #000; */
    transform: translateY(-50%);
    width: 90px;
    height: 90px;
    background: #fe3c52;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -31px;
  }
  
  .prev {
    left: 10px;
    color: white;
  }
  
  .next {
    right: 10px;
    color: white;
  }
  
  .fa-arrow-left, .fa-arrow-right {
    transform: translate(35px, 35px);
  }
  
  .prev:hover, .next:hover {
    opacity: 0.8;
  }
  
  #subscribe {
    background: url('../images/find.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 120px 0px;
    text-align: center;
    color: white;
    h1 {
      font-size: 40px;
      line-height: 1.1;
      font-weight: 300;
    }
  }
  
  .subscribe-form {
    width: 100%;
    margin-top: 53px;
    input {
      width: 40%;
      height: 56px;
      background-color: transparent;
      border: 2px solid #818696;
      padding-left: 14px;
    }
  }
  
  .subscribe-newsletter {
    margin-left: 8px;
    color: white;
    text-transform: capitalize;
    background-color: #FF455C;
    padding: 20px 45px;
    border: none;
    font-weight: bold;
  }
