#header {
    position: fixed;
    top: 47px;
    width: 100%;
    z-index: 2;
    display:flex;
    justify-content: center;
  }
  
  .header-inner {
    background-color: #131a2f;
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    // flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
    color: white;
    height: 130px;
    align-items: center;
    // justify-content: space-around;
    position: relative;
    /* padding: 48px 0px 30px 0px; */
    /* height:100%; */
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 150px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    z-index:1;
    display:none;
}
.active {
  display: none;
}
  /* LOGO */
  
  .logo {
    // justify-self: flex-start;
    // flex:0 1 auto;
    padding-left: 72px;
    // height:100%; 
    /* margin: 10px; */
    /* padding: 20px; */
    position: relative;
    /* padding-top:40px; */
    /* display: flex; */
    // display: inline-block;
    // margin-right: auto;
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    /* text-align: center; */
    /* align-items: center; */
    h1 {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 18px;
      font-weight: 500;
      margin: 0px;
    }
    p {
      color: lightgray;
      margin: 0px;
      text-transform: uppercase;
      font-size: 10px;
      color: #929292;
      margin-top: 2px;
      /* padding-bottom: 5px; */
    }
    img {
      max-width: 100%;
      /* padding: 10px 20px 0px 20px; */
      position: absolute;
      top: -35px;
      left: 40px;
    }
  }
  
  /* MENU */
  
  #menu {
    flex-grow:1;
    // flex: 1 1 auto;
    // flex-basis:content;
    display:flex;
    justify-content: center; 
    align-items: center;
    margin: 0px;
    // flex-wrap: wrap;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
    a {
      li {
        padding: 0px 20px;
        list-style-type: none;
        height: 100%;
      }
      color: white;
      text-decoration: none;
      /* height:100%; */
      /* padding-bottom:28px; */
      /* padding:10px 0px; */
      /* line-height: 141px; */
      &:hover {
        color: #fe2a45;
        border-bottom: 2px solid #fe2a45;
        transition: 0.4s ease-out;
      }
    }
  }

  
  
  /* SEARCH-BUTTON */
  
  .search-button {
    // flex: 0 1 auto;
    background-color: #fe435b;
    width: 121px;
    height: 100%;
    cursor: pointer;
    transition: all 200ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      background-color: #fe2a45;
      transition: all 200ms ease;
    }
  }
