html {
    height:100%;
}

body {
    min-height:100%;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    font-weight: 400;
    background-color: #ffffff;
    color:#131a2f;
}

* {
    box-sizing: border-box;
}
